body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url('../../public/images/manilla_folder.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#view {
width:100%;
height:100%;
}

.page {
width: 96%;
height: 96%;
margin-top: 2%;
  /*background-color: #f8f5e1;*/
  background-color:#fff;
  border-right:1px solid #dcd9c1;
  border-bottom:1px solid #dcd9c1;

  background: url("../../public/images/paper@2x.png");

}

.clipButton {
  background: url('../../public/images/clip_note.png');
  background-size: cover;
  width: 458px;
  height: 138px;
  position: absolute;
  bottom: 18px;
  left: 500px;
}

.clipButton button.next {
      background: none;
    border: none;
    transform: rotate(-2deg);
    margin-top: 35px;

}

#start {
  background: url('../../public/images/folder_cover_art.png');
  background-size: cover;
}

#start {
  text-align: center;
}

#start .clipButton {
  width: 700px;
  height: 214px;
  position: absolute;
  bottom: 10px;
  left: 125px;
}

.startGame {
  width: 200px;
  font-size: 30px;
}


#start button {
  background: none;
  border: 1px dotted #000;
  margin: 0 10px;
}

#start .selected{
  border : 1px dotted green;
  font-weight: bold;
  color: green;
}

p#howMany {
  margin-bottom: 10px;
  font-size: 30px;
}

#startInterface{
  background: #fff;
  border: 2px solid #000;
  width:379px;
  position: absolute;
  top: 250px;
  left: 290px;
  text-align: center
}

h3 { margin: 0;}

#startInterface .startGame{
  width: 100%;
  height: 50px;
  font-size: 34px;
  border-top: 1px solid #000;
}

p {
  font-size: 20px;
}

#startInterface .pickNumPlayers {
  width: 100px;
  height: 50px;
}



#setupMap{
  background: #3954A0;
  color: #fff;
}

#blueprint {
  text-align: center;
}

#blueprintInstructions {
  width: 90%;
  margin:0 auto;
}

table {
  width: 100%;
  font-size: 20px;
}

.tableHeader td {
  border: none;
  border-bottom: 1px solid #aaa;
}

.object, .instruction {
  width: 50%;
}

.object {
  text-align: right
}

.passButton img {
  width: 100%;
}

#pass h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 72px;
  text-decoration: underline;
}

#pass {
  background: none;
}

#player .candidateContainer{
  width: 293px;
  height: 170;
  margin: 0;
  border: 1px solid #ddd;
}

#candidates {
  margin-left:20px;
}

.candidateImage {
  border-right: 1px solid #ddd;
}

#candidates p {
  font-size: 30px;
}

.candidateImage {
  width: 150px;
  height: 150px;
}

#actions {
   float: left;
  /* border: 1px dashed #000; */
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0;
}

#actions h4 {
  font-size: 24px;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  border-bottom: 1px dashed #000;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  padding: 5px 0;
}

.or {
  border: 1px dotted #000;
  padding: 10px;
  background: url('../../public/images/paper@2x.png');
  margin: 0px 5px;
}

#shoot, #poison, #plans {
  width: 250px;
  float: left;
}

#poison {
  margin: 50px 25px;
  width: 235px;
}

#poison img, #shoot img {
  float: left;
}

.listOfTargets {
  margin-left: 10px;
}

.listOfTargets p {
  margin: 0;
  font-size: 14px;
}

.listOfTargets button {
  margin-top: 20px;
}

#shoot {
  border-right: 1px dashed #000;
  padding-top: 40px;
}

#shoot img {
  width: 100px;
  height: 100px;
  float: left;
  margin-bottom: 150px;
  margin-right: 15px;
}


#plans {
  text-align: center;
  border: 1px solid #000;
  padding: 10;
  background: url('../../public/images/paper@2x.png');
  margin-left: -82px;
  margin-top: 277px;
  width: 50px;
  height: 60px;
}

#plans p {
  margin: 0;
  font-size: 12px;
}

#you #plans img{
  width: 50px;
  height: 50px;
}

#you img {
  width: 255px;
}

#identity img {
  border: 1px solid #ccc;
  padding: 10px;
}

#identity {
  float: left;
  padding: 17px;
  margin: 10px;
  text-align: center;
  border: 1px solid #000;
  margin-top: 0;
  margin-left: 0;
  border-top: none;
  border-left: none;
}

#identity h2 {
  font-size: 22px;
  border: 1px solid #ccc;
  margin: 0;
  border-bottom: none;
  padding: 10px;
}

#candidates img.marked {
  width: 150px;
  height: 150px;
  margin-left: -10px;
  margin-top: -10px;
}

#move td {
  width: 50%;
}

#move td.character {
  text-align: right;
}

#move td.move .dir {
  text-transform: uppercase;
}

#move td.move .pickedUp {
  font-weight: bold;
}

#move #victims {
  margin-top: 40px;
  text-align: center;
}

button:disabled {
  color: #ccc;
  background: none;
}

#moveInput {
  float: left;
  padding: 45px 29px;
  border-right: 1px dashed #000;
}

#moveInput button {
  width: 70px;
  height: 70px;
  font-size: 20px;
  text-transform: uppercase;
}

#player tr td:first-child {
  width: 50%;
}

table td {
  padding: 20px;
}

button.next {
  font-size: 34px;
  /*border: 5px solid #ccc;*/
  width: 90%;
  margin: 5%;
  /*height: 100px;*/
  font-size: 50px;
}

button.red {
  color: #93161A;
}

h3 {
  font-size: 75px;
  margin-bottom: 0;
}