 {{outlet}}

<p><em><a href="#" {{action "toggleDebug"}}>Toggle debug view</a></em></p>

<br style="clear:both" />
{{#view "debug" isVisibleBinding="debugIsVisible"}}
  <button {{action 'refreshDebug'}}>refresh</button> <!-- temporary hack until game is an ember model -->
  {{debugView}}
{{/view}}