<h1>Player character assignments</h1>
{{#if pass_manager.isPassing}}
  {{partial 'pass'}}
{{else}}
  <p>You are {{current-player-color}}.</p>
  <p><button {{action 'next'}}>Got it</button></p>
{{/if}}