<h1>Pick Target</h1>
<p>You are {{currentPlayerColor}} ({{currentPlayerName}}).</p>
<form {{action "fire" on="submit"}}>
  {{view "select" content=targets valueBinding='targetColor'}}
  <button type="submit">Shoot</button>
</form>